
.item {
    width : 32%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 1px;
    border: 1px solid lightgray;
}

.thumbnail {
    width: 30%;
    height: 150px;
    object-fit: cover;
}
.inform {
    width: 58%;
    text-align: left;
    padding-left: 2px;
}